body {
  
  background-color:black;
   background-image: url("/src/9919.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    top: 50%;   
  margin: 0;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
